{% extends 'base.html' %}

{% load static %}

{% block title %} ESP - test {% endblock title %}
{% block company %} {{ CompanyName }} {% endblock company %}
{% block app %} Overview {% endblock app %}
{% block PumpType %} {{object_list.type}} - test {% endblock PumpType %}
{% block PumpName %} {{object_list.name}} {% endblock PumpName %}

{% block content %}

<!-- local navbar -->
<div class="nav-wrapper position-relative end-0">
    <ul class="nav nav-pills nav-fill pb-0 bg-transparent" role="tablist">

        <!-- Operation -->
        <li class="nav-item">
            <a class="btn bg-gray-400 w-100 text-lg" href="/overview/electrical-submersible-pump/operation/{{object_list.name}}" role="button">
                <i class="fas fa-project-diagram me-2 text-lg"></i>
                Operation
            </a>
        </li>

        <!-- Trends -->
        <li class="nav-item">
            <a class="btn bg-gray-400 w-100 text-lg" href="/overview/electrical-submersible-pump/trends/{{object_list.name}}" role="button">
                
                <i class="fas fa-chart-line me-2 text-sm"></i>Trends
            </a>
        </li>

        <!-- Troubleshoot -->
        <li class="nav-item">
            <a class="btn bg-gray-400 w-100 text-lg" href="/overview/electrical-submersible-pump/troubleshoot/{{object_list.name}}" role="button"
                aria-controls="Troubleshoot" aria-selected="false">
                <i class="fas fa-toolbox me-2 text-sm"></i>
                Troubleshoot
            </a>
        </li>

        <!-- Optimization -->
        <li class="nav-item">
            <a class="btn bg-gray-400 w-100 text-lg" href="/overview/electrical-submersible-pump/optimization/{{object_list.name}}" role="button"
                aria-controls="Optimization" aria-selected="false">
                <i class="fas fa-chart-bar me-2 text-sm"></i>
                Optimization
            </a>
        </li>

        <!-- Test -->
        <li class="nav-item">
            <a class="btn bg-gradient-danger w-100 active text-lg" href="/overview/electrical-submersible-pump/test/{{object_list.name}}" role="button"
                aria-controls="Test" aria-selected="false">
                <i class="fas fa-wrench me-2 text-sm"></i>
                Test
            </a>
        </li>

        <!-- Inputs -->
        <li class="nav-item">
            <a class="btn bg-gray-400 w-100 text-lg" href="/overview/electrical-submersible-pump/inputs/{{object_list.name}}" role="tab"
                aria-controls="Inputs" aria-selected="false">
                <i class="fas fa-edit me-2 text-sm"></i>
                Inputs
            </a>
        </li>

    </ul>

</div>

<hr class="horizontal dark my-0">

<!-- Consult form -->
<div class="row mt-2">
    <div class="col-xl-4 col-sm-2 mb-xl-0 mb-4">
        <button class="btn bg-gradient-dark dropdown-toggle" type="button" id="dropdownImport"
            data-bs-toggle="dropdown" aria-expanded="false">
            Today
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownImport">
            <li><a class="dropdown-item" href="javascript:;">Yesterday</a></li>
            <li><a class="dropdown-item" href="javascript:;">Last 7 days</a></li>
            <li><a class="dropdown-item" href="javascript:;">Last 30 days</a></li>
        </ul>
    </div>

    <div class="col-xl-4 col-sm-4 mb-xl-0 mb-4">
        <div class="dropleft">
            <form method="GET">{% csrf_token %}
                <div class="row">
                    <div class="col-xl-8 col-sm-8">
                        <input class="form-control datetimepicker text-center" value="{{object_list.date}}" type="text" placeholder="all" id="dateKword" name="dateKword" />
                    </div>
                    <div class="col-xl-4 col-sm-4">
                        <button class="btn bg-gradient-primary" type="submit"> Consult </button>
                    </div>
                </div>
                
            </form>
        </div>
    </div>

    <div class="col-xl-4 col-sm-4 mb-xl-0 ">
        <div class="numbers ">
            <h6 class="font-weight-bolder float-end text-sx">Last Update:&nbsp;&nbsp;<span class="text-lg"  id = "LastUpdate"></span> </h6>
        </div>
        
    </div>

</div>

<!-- Overview Table 
<div class="row">
    <div class="col-12">
        <div class="card">
            
            <div class="card-header pb-0 p-3">
                <div class="d-flex align-items-center">
                    
                    <h5 class="mb-0">Overview</h5>
                
                    <div class="ms-auto my-auto mt-lg-0 mt-4">
                        <div class="ms-auto my-auto">
                            <a href="" class="btn bg-gradient-success btn-sm mb-0" target="_blank">
                                <i class="fas fa-plus text-sm"></i> &nbsp; New Test</a>
                        </div>
                    </div>

                </div>

                <p class="text-sm mb-0">
                    Explication
                </p>

            </div>
            <div class="table-responsive">
                <table class="table table-flush" id="datatable-basic1">
                    <thead class="thead-light">
                        <tr>
                            <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Test</th>
                            <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Order</th>
                            <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Author</th>
                            <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Results</th>
                            <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Date</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for well in object_list.test %}
                        <tr>
                            <td class="text-sm font-weight-normal">{{well.test}}</td>
                            <td class="text-sm font-weight-normal">{{well.order}}</td>
                            <td class="text-sm font-weight-normal">{{well.author}}</td>
                            <td class="text-sm font-weight-normal">--</td>
                            <td class="text-sm font-weight-normal">{{well.DateCreate}}</td>

                        </tr>
                        {% endfor %}

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
-->
<!-- Trend analysis Tables -->

<!-- well test Table -->
<div class="row">
    <div class="col-12">
        <div class="card">
            <!-- Card header -->
            <div class="card-header pb-0 p-3">
                <div class="d-lg-flex">
                    <div>
                        <h5 class="mb-0">Well Test</h5>
                        <p class="text-sm mb-0">
                            Production fluid measurement test
                        </p>
                    </div>
                    <div class="ms-auto my-auto mt-lg-0 mt-4">

                        <button type="button" class="btn bg-gradient-secondary btn-sm mb-0 export1" data-bs-toggle="modal" data-type="csv" data-bs-target="#import">
                            <span class="btn-inner--icon"><i class="fas fa-file-csv text-lg"></i> </span>
                            <span class="btn-inner--text">&nbsp;&nbsp;&nbsp;Export CSV</span>
                        </button>
                    
                        <a href="../../../../create-well-test/{{object_list.name}}" class="btn bg-gradient-warning btn-sm mb-0" target="_blank">
                            <i class="fas fa-plus text-sm"></i> &nbsp; New Test</a>
                    
                    </div>
                    
                    <!--
                    <div class="ms-auto my-auto">
                        <a href="./new-product.html" class="btn bg-gradient-success btn-sm mb-0" target="_blank"><i class="fas fa-plus text-sm"></i> &nbsp; New Test</a>
                    </div>
                    -->

                </div>
            </div>

            <div class="table-responsive">
                <table class="table table-flush" id="datatable-basic1">
                    <thead class="thead-light">
                        <tr>
                            <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7r">Id</th>
                            <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Input by</th>
                            <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Start</th>
                            <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">End</th>
                            <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Duration</th>
                            <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Oil Rate</th>
                            <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Water Rate</th>
                            <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Gas Rate</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for well in object_list.WellTest %}
                        <tr>
                            <td class="text-sm font-weight-normal">{{well.id}}</td>
                            <td class="text-sm font-weight-normal">{{well.UserAuthor}}</td>
                            <td class="text-sm font-weight-normal">{{well.DateStart}}</td>
                            <td class="text-sm font-weight-normal">{{well.DateEnd}}</td>
                            <td class="text-sm font-weight-normal">{{well.Duration}}</td>
                            <td class="text-sm font-weight-normal">{{well.OilRate}}</td>
                            <td class="text-sm font-weight-normal">{{well.WaterRate}}</td>
                            <td class="text-sm font-weight-normal">{{well.GasRate}}</td>

                        </tr>
                        {% endfor %}

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<!-- sample test Table -->
<div class="row mt-4">
    <div class="col-12">
        <div class="card">
            <!-- Card header -->
            <div class="card-header pb-0 p-3">
                <div class="d-lg-flex">
                    <div>
                        <h5 class="mb-0">Sample Test</h5>
                        <p class="text-sm mb-0">
                            Fluid properties test
                        </p>
                    </div>

                    <div class="ms-auto my-auto mt-lg-0 mt-4">
                        <button type="button" class="btn bg-gradient-secondary btn-sm mb-0 export2" data-bs-toggle="modal" data-type="csv" data-bs-target="#import">
                            <span class="btn-inner--icon"><i class="fas fa-file-csv text-lg"></i> </span>
                            <span class="btn-inner--text">&nbsp;&nbsp;&nbsp;Export CSV</span>
                        </button>
                        
                        <a href="" class="btn bg-gradient-warning btn-sm mb-0" target="_blank">
                            <i class="fas fa-plus text-sm"></i> &nbsp; New Test</a>
                        
                    </div>
                    
                    <!--
                    <div class="ms-auto my-auto">
                        <a href="./new-product.html" class="btn bg-gradient-success btn-sm mb-0" target="_blank"><i class="fas fa-plus text-sm"></i> &nbsp; New Test</a>
                    </div>
                    -->

                </div>
            </div>

            <div class="table-responsive">
                <table class="table table-flush" id="datatable-basic2">
                    <thead class="thead-light">
                        <tr>
                            <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">ID</th>
                            <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Input by</th>
                            <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Date</th>
                            <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Water Cut</th>
                            <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Sand Percentage</th>
                            <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Emultion Percentage</th>

                        </tr>
                    </thead>
                    <tbody>
                        {% for well in object_list.SampleTest %}
                        <tr>
                            <td class="text-sm font-weight-normal">{{well.id}}</td>
                            <td class="text-sm font-weight-normal">{{well.UserAuthor}}</td>
                            <td class="text-sm font-weight-normal">{{well.DateCreate}}</td>
                            <td class="text-sm font-weight-normal">{{well.WaterCut}}</td>
                            <td class="text-sm font-weight-normal">{{well.SandPercentage}}</td>
                            <td class="text-sm font-weight-normal">{{well.EmultionPercentage}}</td>
                        </tr>
                        {% endfor %}

                    </tbody>
                </table>
            </div>

            
        </div>
    </div>
</div>

<!-- Build Up test Table -->
<div class="row mt-4">
    <div class="col-12">
        <div class="card">
            <!-- Card header -->
            <div class="card-header pb-0 p-3">
                <div class="d-lg-flex">
                    <div>
                        <h5 class="mb-0">Buil Up Test</h5>
                        <p class="text-sm mb-0">
                            Explication
                        </p>
                    </div>

                    <div class="ms-auto my-auto mt-lg-0 mt-4">
                        <button type="button" class="btn bg-gradient-secondary btn-sm mb-0 export3" data-bs-toggle="modal" data-type="csv" data-bs-target="#import">
                            <span class="btn-inner--icon"><i class="fas fa-file-csv text-lg"></i> </span>
                            <span class="btn-inner--text">&nbsp;&nbsp;&nbsp;Export CSV</span>
                        </button>
                        <a href="" class="btn bg-gradient-warning btn-sm mb-0" target="_blank">
                            <i class="fas fa-plus text-sm"></i> &nbsp; New Test</a>

                    </div>
                    
                    <!--
                    <div class="ms-auto my-auto">
                        <a href="./new-product.html" class="btn bg-gradient-success btn-sm mb-0" target="_blank"><i class="fas fa-plus text-sm"></i> &nbsp; New Test</a>
                    </div>
                    -->

                </div>
            </div>

            <div class="table-responsive">
                <table class="table table-flush" id="datatable-basic3">
                    <thead class="thead-light">
                        <tr>
                            <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">id</th>
                            <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Input by</th>
                            <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Start</th>
                            <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">End</th>
                            <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Duration</th>
                            <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Data Vector</th>
                            <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Permeability</th>
                            <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Skin</th>
                            <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Iterated</th>
                            <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Extrapolated</th>

                        </tr>
                    </thead>
                    <tbody>
                        {% for well in object_list.BuildUpTest %}
                        <tr>
                            <td class="text-sm font-weight-normal">{{well.id}}</td>
                            <td class="text-sm font-weight-normal">{{well.UserAuthor}}</td>
                            <td class="text-sm font-weight-normal">{{well.DateStart}}</td>
                            <td class="text-sm font-weight-normal">{{well.DateEnd}}</td>
                            <td class="text-sm font-weight-normal">{{well.Duration}}</td>
                            <td class="text-sm font-weight-normal">{{well.DataVector}}</td>
                            <td class="text-sm font-weight-normal">{{well.Permeability}}</td>
                            <td class="text-sm font-weight-normal">{{well.Skin}}</td>
                            <td class="text-sm font-weight-normal">{{well.Iterated}}</td>
                            <td class="text-sm font-weight-normal">{{well.Extrapolated}}</td>
                        </tr>
                        {% endfor %}

                    </tbody>
                </table>
            </div>

            
        </div>
    </div>
</div>

<hr class="horizontal dark mt-0">

{% endblock content %}

{% block JSscripts %}
    <!-- SCRIPTS -->
<script src="{% static 'assets/js/plugins/datatables.js' %}"></script>

<!--Tables-->
<script>

    const dataTableBasic1 = new simpleDatatables.DataTable("#datatable-basic1", {
        searchable: true,
        fixedHeight: true,
        perPage: 5
    });

    document.querySelectorAll(".export1").forEach(function(el) {
      el.addEventListener("click", function(e) {
        var type = el.dataset.type;

        var data = {
          type: type,
          filename: "gle-esp-" + type,
        };

        if (type === "csv") {
          data.columnDelimiter = ",";
        }

        dataTableBasic1.export(data);
      });
    });

    const dataTableBasic2 = new simpleDatatables.DataTable("#datatable-basic2", {
        searchable: true,
        fixedHeight: true,
        perPage: 5
    });

    document.querySelectorAll(".export2").forEach(function(el) {
      el.addEventListener("click", function(e) {
        var type = el.dataset.type;

        var data = {
          type: type,
          filename: "gle-esp-" + type,
        };

        if (type === "csv") {
          data.columnDelimiter = ",";
        }

        dataTableBasic2.export(data);
      });
    });

    const dataTableBasic3 = new simpleDatatables.DataTable("#datatable-basic3", {
        searchable: true,
        fixedHeight: true,
        perPage: 5
    });

    document.querySelectorAll(".export3").forEach(function(el) {
      el.addEventListener("click", function(e) {
        var type = el.dataset.type;

        var data = {
          type: type,
          filename: "gle-esp-" + type,
        };

        if (type === "csv") {
          data.columnDelimiter = ",";
        }

        dataTableBasic3.export(data);
      });
    });

</script>

<script src="{% static 'assets/js/plugins/flatpickr.min.js' %}"></script>
<script>
    if (document.querySelector('.datetimepicker')) {
        flatpickr('.datetimepicker', {
            allowInput: true,
            mode: "range"
        }); // flatpickr
    }
</script>
{% endblock JSscripts %}