{% extends 'base.html' %}

{% load static %}

{% block title %} SRP {% endblock title %}

{% block company %} {{ CompanyName }} {% endblock company %}
{% block app %} Overview {% endblock app %}
{% block PumpType %} {{object_list.type}} {% endblock PumpType %}
{% block PumpName %} {{object_list.name}} {% endblock PumpName %}

{% block content %}

<!-- Body -->
<!-- Consult form -->
<div class="row mt-2">
    
    <div class="col-xl-4 col-sm-2 mb-xl-0 mb-4">
        <button class="btn bg-gradient-dark dropdown-toggle" type="button" id="dropdownImport"
            data-bs-toggle="dropdown" aria-expanded="false">
            Today
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownImport">
            <li><a class="dropdown-item" href="javascript:;">Yesterday</a></li>
            <li><a class="dropdown-item" href="javascript:;">Last 7 days</a></li>
            <li><a class="dropdown-item" href="javascript:;">Last 30 days</a></li>
        </ul>
    </div>

    <div class="col-xl-4 col-sm-4 mb-xl-0 mb-4">
        <div class="dropleft">
            <form method="GET">{% csrf_token %}
                <div class="row">
                    <div class="col-xl-8 col-sm-8">
                        <input class="form-control datetimepicker text-center" value="{{object_list.date}}" type="text" placeholder="today" id="dateKword" name="dateKword" />
                    </div>
                    <div class="col-xl-4 col-sm-4">
                        <button class="btn bg-gradient-primary" type="submit"> Search </button>
                    </div>
                </div>
                
            </form>
        </div>
    </div>

    <div class="col-xl-4 col-sm-4 mb-xl-0 ">
        <div class="numbers ">
            <h6 class="font-weight-bolder float-end text-sx px-2">Last Update:&nbsp;&nbsp;<span class="text-lg"  id = "LastUpdate"></span> </h6>
        </div>
        
    </div>

</div>

<hr class="horizontal dark my-0">

<!-- datos en cuadros -->
<div class="row mt-4">

    <!-- last template block 
    <div class="col-xl-2 col-sm-4 mb-xl-0 mb-4">
        <div class="card">
            <div class="card-body p-3">
                <div class="row">
                    <div class="col-8">
                        <div class="numbers">
                            <p class="text-sm mb-0 text-capitalize font-weight-bold">Pressure</p>
                            <h5 class="font-weight-bolder mb-0">
                                <span id="HeadPressure">--</span>
                                <span class="text-black text-sm font-weight-bolder"> psi</span>
                            </h5>
                        </div>
                    </div>
                    <div class="col-4 text-end">
                        <div class="icon icon-shape bg-gradient-info shadow text-center border-radius-md">
                            <i class="fas fa-tachometer-alt text-lg"></i>                           
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    -->
    
    <!-- Diagnosis -->
    <div class="col-xl-4 col-sm-6 mb-xl-0 mb-4">
        <div class="card bg-gradient-success h-100" id="card-diagnosis">
            <div class="card-body px-3">
                <div class="row">
                    <div class="col-3 text-left">
                        <img class="px-2 w-90" src="/static/assets/img/pump4.png" alt="image sun">
                    </div>
                    <div class="col-9 my-auto">
                        <div class="numbers">
                            
                            <p class="text-white mb-0 font-weight-bolder">Running Condition</p>
                            <h5 class="text-white font-weight-bolder mb-0" id="Diagnosis">
                                --
                            </h5>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>

    <!-- PumpFill -->
    <div class="col-xl-2 col-sm-6 mb-xl-0 mb-4">
        <div class="card">
            <div class="card-body text-center">
                <h4 class="text-gradient text-primary font-weight-bolder mb-0">
                    <span id="PumpFill">--</span>&nbsp;&nbsp;
                    <span class="text-lg ms-n2">%</span>
                </h4>
                <h6 class="mb-0 font-weight-bolder">Pump Fill</h6>
                <p class="opacity-8 mb-0 text-sm">Percentage</p>                
            </div>
        </div>
    </div>

    <!-- HeadPressure -->
    <div class="col-xl-2 col-sm-4 mb-xl-0 mb-4">
        <div class="card">
            <div class="card-body text-center">
                <h4 class="text-gradient text-primary font-weight-bolder mb-0">
                    <span id="HeadPressure">--</span>&nbsp;&nbsp;
                    <span class="text-lg ms-n2">psi</span>
                </h4>
                <h6 class="mb-0 font-weight-bolder">Flow Line</h6>
                <p class="opacity-8 mb-0 text-sm">Pressure</p>                
            </div>
        </div>
    </div>

    <!-- CasingPressure 
    <div class="col-xl-2 col-sm-4 mb-xl-0 mb-4">
        <div class="card">
            <div class="card-body text-center">
                <h4 class="text-gradient text-primary font-weight-bolder mb-0">
                    <span id="CasingPressure">--</span>&nbsp;&nbsp;
                    <span class="text-lg ms-n2">psi</span>
                </h4>
                <h6 class="mb-0 font-weight-bolder">Casing</h6>
                <p class="opacity-8 mb-0 text-sm">Pressure</p>                
            </div>
        </div>
    </div>
    -->

    <!-- SPM -->
    <div class="col-xl-2 col-sm-4 mb-xl-0 mb-4">
        <div class="card">
            <div class="card-body text-center">
                <h4 class="text-gradient text-primary font-weight-bolder mb-0">
                    <span id="SMP">--</span>
                </h4>
                <h6 class="mb-0 font-weight-bolder">SPM</h6>
                <p class="opacity-8 mb-0 text-sm">Motor</p>                
            </div>
        </div>
    </div>

    <!-- HeadTemperature -->
    <div class="col-xl-2 col-sm-4 mb-xl-0 mb-4">
        <div class="card">
            <div class="card-body text-center">
                <h4 class="text-gradient text-primary font-weight-bolder mb-0">
                    <span id="HeadTemperature">--</span>&nbsp;&nbsp;
                    <span class="text-lg ms-n2">°F</span>
                </h4>
                <h6 class="mb-0 font-weight-bolder">Head</h6>
                <p class="opacity-8 mb-0 text-sm">Temperature</p>                
            </div>
        </div>
    </div>

</div>

<!-- Graficos principales -->
<div class="row mt-4">

    <!-- PLOTS-->
    <div class="col-lg-7 col-md-12">
        <div class="card h-100">
            <div class="card-header pb-0 p-3">
                <h6 class="mb-0">Plots</h6>
                <!--
                <div class="d-flex align-items-center">
                    <span class="badge badge-md badge-dot me-4">
                        <i class="bg-primary"></i>
                        <span class="text-dark text-xs">Pressure</span>
                    </span>
                    <span class="badge badge-md badge-dot me-4">
                        <i class="bg-dark"></i>
                        <span class="text-dark text-xs">Pump Fill</span>
                    </span>
                    <span class="badge badge-md badge-dot me-4">
                        <i class="bg-info"></i>
                        <span class="text-dark text-xs">SPM</span>
                    </span>
                </div>
                -->
            </div>
            <div class="card-body p-3">
                <div class="chart">
                    <div ui-jp="plot"  id = "AllPlots" style="height: 350px;"></div>
                    <!-- <canvas id="chart-line" class="chart-canvas" height="300"></canvas> -->
                </div>
            </div>
        </div>
    </div>

    <!-- DYNACHART-->
    <div class="col-lg-5 col-md-12 mt-4 mt-lg-0">
        <div class="card h-100">
            <div class="card-header pb-0 p-3">
                <h6 class="mb-0">Dynachart  </h6>

            </div>
            <div class="card-body p-3">
                <div class="chart">
                    
                    <div ui-jp="plot"  id = "dynachart" style="height: 350px;"></div>
                    
                </div>
            </div>
        </div>
    </div>

</div>

<!-- Tablas historicos -->
<div class="row mt-4">
    <div class="col-12">
        <div class="card">
            
            <div class="table-responsive">
                <table class="table table-flush" id="datatable-basic2">
                    <thead class="thead-light">
                        <tr>
                            <th class="text-uppercase text-secondary text-xs font-weight-bolder opacity-7">Diagnosis</th>
                            <th class="text-uppercase text-secondary text-xs font-weight-bolder opacity-7">Pump Fill</th>
                            <th class="text-uppercase text-secondary text-xs font-weight-bolder opacity-7">Head Pressure</th>
                            <th class="text-uppercase text-secondary text-xs font-weight-bolder opacity-7">Casing Pressure</th>
                            <th class="text-uppercase text-secondary text-xs font-weight-bolder opacity-7">Temperature</th>
                            <th class="text-uppercase text-secondary text-xs font-weight-bolder opacity-7">SPM</th>
                            <th class="text-uppercase text-secondary text-xs font-weight-bolder opacity-7">Recomendation</th>
                            
                        </tr>
                    </thead>
                    <tbody>
                        {% for well in object_list.data %}
                        <tr>
                            <td class="text-sm font-weight-normal text-left">
                                <div class="d-flex px-3 py-1">
                                    <div class="avatar me-3" id = "dynachart_{{well.id}}" style="display: inline-block; width: 40px; height: 40px; vertical-align: center;"></div>

                                    <div class="d-flex flex-column text-left">
                                        <h5 class="mb-0 text-sm">{{well.Diagnosis}}</h5>
                                        <p class="text-sm font-weight-bold text-secondary mb-0"><span class="text-secondary">{{well.DateCreate|date:'Y-m-d H:i'}}</span></p>
                                    </div>
                                </div>
                            </td>
                            <td class="text-sm font-weight-normal text-center">{{well.PumpFill}}</td>
                            <td class="text-sm font-weight-normal text-center">{{well.HeadPressure}}</td>
                            <td class="text-sm font-weight-normal text-center">{{well.CasingPressure}}</td>
                            <td class="text-sm font-weight-normal text-center">{{well.HeadTemperature}}</td>
                            <td class="text-sm font-weight-normal text-center">{{well.SPM}}</td>
                            <td class="text-sm font-weight-normal text-left">{{well.Recomendation}}</td>
                        </tr>
                        {% endfor %}

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

{% endblock content %}

<!-- end Body -->


{% block JSscripts %}
<script src="{% static 'assets/js/plugins/chartjs.min.js'%}"></script>
<script src="{% static 'assets/js/plugins/plotly-2.12.1.min.js' %}"></script>
<script>

    /*
    var ctx1 = document.getElementById("AllPlots").getContext("2d");

    var gradientStroke1 = ctx1.createLinearGradient(0, 230, 0, 50);
    
    gradientStroke1.addColorStop(1, 'rgba(203,12,159,0.2)');
    gradientStroke1.addColorStop(0.2, 'rgba(72,72,176,0.0)');
    gradientStroke1.addColorStop(0, 'rgba(203,12,159,0)'); //purple colors
    
    var gradientStroke2 = ctx1.createLinearGradient(0, 230, 0, 50);

    gradientStroke2.addColorStop(1, 'rgba(20,23,39,0.2)');
    gradientStroke2.addColorStop(0.2, 'rgba(72,72,176,0.0)');
    gradientStroke2.addColorStop(0, 'rgba(20,23,39,0)'); //purple colors */

    var ids= [];
    var data_HeadPressure = [];
    var data_CasingPressure = [];
    var data_PumpFill = [];
    var data_SPM = [];
    var data_HeadTemperature = [];
    var data_Diagnosis = [];
    var data_Recomendation = [];
    var data_Loads = [];
    var data_Positions = [];
    var dateTime = [];

    '{% for well in object_list.data %}'
    /*
        data_HeadPressure.push({x: "{{well.DateCreate|date:'Y-m-d H:i'}}",y: '{{well.HeadPressure}}'});
        data_PumpFill.push({x: "{{well.DateCreate|date:'Y-m-d H:i'}}",y: '{{well.PumpFill}}'});
        data_SPM.push({x: "{{well.DateCreate|date:'Y-m-d H:i'}}",y: '{{well.SPM}}'});
        data_HeadTemperature.push({x: "{{well.DateCreate|date:'Y-m-d H:i'}}",y: '{{well.HeadTemperature}}'});
        data_Diagnosis.push("{{well.Diagnosis}}");
        ids.push('{{well.id}}');
        var ddt = new Date("{{well.DateCreate|date:'Y-m-d H:i'}}");
        dateTime.push(ddt);
    */
        data_HeadPressure.push("{{well.HeadPressure}}");
        data_CasingPressure .push("{{well.CasingPressure}}");
        data_PumpFill.push('{{well.PumpFill}}');
        data_SPM.push('{{well.SPM}}');
        data_HeadTemperature.push('{{well.HeadTemperature}}');
        data_Diagnosis.push("{{well.Diagnosis}}");
        ids.push('{{well.id}}');
        var ddt = new Date("{{well.DateCreate|date:'Y-m-d H:i'}}");
        dateTime.push(ddt);

        var tempL = "{{well.LoadPump}}";
        data_Loads.push(tempL.split(','));
        var tempP = "{{well.Position}}";
        data_Positions.push(tempP.split(','));
    '{% endfor %}'

    /*
    $("#LastUpdate").html(data_HeadPressure[0]["x"]);
    $("#HeadPressure").html(data_HeadPressure[0]["y"]);
    $("#PumpFill").html(data_PumpFill[0]["y"]);
    $("#SMP").html(data_SPM[0]["y"]);
    $("#HeadTemperature").html(data_HeadTemperature[0]["y"]);
    $("#Diagnosis").html(data_Diagnosis[0]);
    */
    //console.log(data_Positions);
    // Line chart
    /*
    new Chart(ctx1, {
        type: "line",
        data: {
            //labels: ["Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"],
            datasets: [{
                label: "Pressure",
                tension: 0.4,
                borderWidth: 0,
                pointRadius: 2,
                pointBackgroundColor: "#cb0c9f",
                borderColor: "#cb0c9f",
                borderWidth: 3,
                backgroundColor: gradientStroke1,
                data: data_HeadPressure,
                maxBarThickness: 6
            },
            {
                label: "Fill",
                tension: 0.4,
                borderWidth: 0,
                pointRadius: 2,
                pointBackgroundColor: "#3A416F",
                borderColor: "#3A416F",
                borderWidth: 3,
                backgroundColor: gradientStroke2,
                data: data_PumpFill,
                maxBarThickness: 6
            },
            {
                label: "SPM",
                tension: 0.4,
                borderWidth: 0,
                pointRadius: 2,
                pointBackgroundColor: "#17c1e8",
                borderColor: "#17c1e8",
                borderWidth: 3,
                backgroundColor: gradientStroke2,
                data: data_SPM,
                maxBarThickness: 6
            },
            {
                label: "Temperature",
                tension: 0.4,
                borderWidth: 0,
                pointRadius: 2,
                pointBackgroundColor: "#1281e8",
                borderColor: "#1281e8",
                borderWidth: 3,
                backgroundColor: gradientStroke2,
                data: data_HeadTemperature,
                maxBarThickness: 6
            },
            ],
        },
        options: {
            responsive: true,
            maintainAspectRatio: false,
            plugins: {
                legend: {
                    display: true,
                }
            },
            interaction: {
                intersect: false,
                mode: 'index',
            },
            scales: {
                y: {
                    grid: {
                        drawBorder: false,
                        display: true,
                        drawOnChartArea: true,
                        drawTicks: false,
                        borderDash: [5, 5]
                    },
                    ticks: {
                        display: true,
                        padding: 10,
                        color: '#9ca2b7'
                    }
                },
                x: {
                    grid: {
                        drawBorder: false,
                        display: true,
                        drawOnChartArea: true,
                        drawTicks: true,
                        borderDash: [5, 5]
                    },
                    ticks: {
                        display: true,
                        color: '#9ca2b7',
                        padding: 10
                    }
                },
            },
        },
    });
    */
    var layout = {
		margin: {l:40,t:10,b:20,r:30},
		autosize: true,

		xaxis: {
	  		autorange: true,
            showgrid: false,
            zeroline: false
	    //range: ['2020-01-01', '2020-01-31'],
	    	
	    	//type: 'date'
	    },
	    yaxis: {
	    	autorange: true,
            showgrid: false,
            zeroline: false,
	    	//range: [0, 30],
	    type: 'linear'
		},
		legend: {
		    x: 0,
		    y: 1,
		    traceorder: 'normal',
		    font: {
		      family: 'sans-serif',
		      size: 2,
		      color: '#000'
		    },
		    //bgcolor: '#E2E2E2',
		    //bordercolor: '#FFFFFF',
		    //borderwidth: 2
		  }
	}

    var layout_small = {
		margin: {l:0,t:0,b:0,r:0},
		autosize: true,

		xaxis: {
	  		autorange: true,
            showgrid: false,
            zeroline: false
	    //range: ['2020-01-01', '2020-01-31'],
	    	
	    	//type: 'date'
	    },
	    yaxis: {
	    	autorange: true,
            showgrid: false,
            zeroline: false,
	    	//range: [0, 30],
	    type: 'linear'
		},
		
	}

    var config = {
        modeBarButtonsToRemove: ['pan2d', 'select2d', 'lasso2d', 'resetScale2d', 'zoomOut2d'],
        responsive: true,
        displaylogo: false
    }

    //============= plot dynachars =============
    var counter = 0;
    var l_width = 4;
    for (var pos in data_Positions) {
        
        var chart_id = "dynachart_" + ids[counter];

        if (counter == 0){

            //============= main dynachars =============
            var trace1 = {
                type: 'scatter',
                x: data_Positions[counter],
                y: data_Loads[counter],
                line: {
                    color: '#465EAB',
                    width: 4
                }
            };
            var data = [trace1];
            Plotly.newPlot('dynachart', data, layout, { responsive: true, staticPlot: true});
            //============= main dynachars small =============
            var trace2 = {
                type: 'scatter',
                x: data_Positions[counter],
                y: data_Loads[counter],
                line: {
                    color: '#465EAB',
                    width: 2
                }
            };
            var data = [trace2];
            Plotly.newPlot(chart_id, data, layout_small, { responsive: true,  staticPlot: true});
        }else{
            //============= dynachars small =============
            var trace1 = {
                type: 'scatter',
                x: data_Positions[counter],
                y: data_Loads[counter],
                line: {
                    color: '#465EAB',
                    width: 2
                }

            };
            var data = [trace1];
            Plotly.newPlot(chart_id, data, layout_small, { responsive: true,  staticPlot: true});
        }
        counter += 1;
    }

    var trace0 = {
        type: "scatter",
        mode: "'lines+markers'",
        name: 'Pump Fill',
        x: dateTime,
        y: data_PumpFill,
        line: {color: '#7F7F7F'},
        line: {shape: 'spline'},
    }

    var trace1 = {
        x: dateTime,
        y: data_HeadPressure,
        type: 'scatter',
        mode: "'lines+markers'",
        name: 'Pressure',
        line: {shape: 'spline'},
    };

    var trace2 = {
        x: dateTime,
        y: data_SPM,
        //xaxis: 'x2',
        //yaxis: 'y2',
        mode: "lines",
        name: 'SPM',
        type: 'scatter',
        line: {shape: 'spline'},
    };

    var data = [trace0, trace1, trace2];
    
    var layout = {
        //background : gradientStroke1,
        showlegend: true,
        legend: {
            "orientation": "h",
            x: 0.2,
            xanchor: 'left',
            y: 1
        },

        margin: {l:40,t:10,b:10,r:30},
		autosize: true,

        yaxis2: {
            domain: [0.6, 0.95],
            anchor: 'x2'
        },
        xaxis2: {
            domain: [0.6, 0.95],
            anchor: 'y2'
        },
        xaxis: {
            autorange: true,
            range: ['2015-02-17', '2017-02-16'],
            rangeselector: {buttons: [
                {
                count: 1,
                label: '1h',
                step: 'hour',
                stepmode: 'backward'
                },
                {
                count: 12,
                label: '12h',
                step: 'hour',
                stepmode: 'backward'
                },
                {step: 'all'}
            ]},
            rangeslider: {range: ['2022-08-13', '2022-08-13']},
            //rangeslider: {range: autorange},
            type: 'date'
        },
        yaxis: {
            autorange: true,
            //range: [0, 200],
            type: 'linear'
        }
    };

    Plotly.newPlot('AllPlots', data, layout, config);

    function dtFormat(dateTime) {
        var dd = dateTime.getDate();
        var yyyy = dateTime.getFullYear();
        var mm = dateTime.getMonth() + 1;

        mm = (mm < 10 ? '0' : '') + mm;
        dd = (dd < 10 ? '0' : '') + dd;

        // Now setting up Time Format (hh:mm:ss)
        var hr = dateTime.getHours();
        var min = dateTime.getMinutes();
        var sec = dateTime.getSeconds();

        hr = (hr < 10 ? '0' : '') + hr;
        min = (min < 10 ? '0' : '') + min;
        sec = (sec < 10 ? '0' : '') + sec;
        var dt = yyyy + "-" + mm + "-" + dd + " " + hr + ":" + min + ":" + sec;
        return dt;
    }

    /* Put values */
    $("#LastUpdate").html(dtFormat(dateTime[0]));
    $("#HeadPressure").html(data_HeadPressure[0]);
    $("#CasingPressure").html(data_CasingPressure[0]);
    $("#PumpFill").html(data_PumpFill[0]);
    $("#SMP").html(data_SPM[0]);
    $("#HeadTemperature").html(data_HeadTemperature[0]);
    $("#Diagnosis").html(data_Diagnosis[0]);

</script>


<!--Table-->
<script src="{% static 'assets/js/plugins/datatables.js' %}"></script>
<script>
    const dataTableBasic2 = new simpleDatatables.DataTable("#datatable-basic2", {
        searchable: true,
        fixedHeight: true
    });
/*
    const dataTableSearch2 = new simpleDatatables.DataTable("#datatable-search2", {
        searchable: true,
        fixedHeight: true
    });*/
</script>

<!--Calendar-->
<script src="{% static 'assets/js/plugins/flatpickr.min.js' %}"></script>
<script>
    if (document.querySelector('.datetimepicker')) {
        flatpickr('.datetimepicker', {
            allowInput: true,
            mode: "range"
        }); // flatpickr
    }
</script>
{% endblock JSscripts %}




